<head>
    <meta charset="utf-8">
    <title>Mini Press Core</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <div class="banner">
        <div class="banner-buttons">
            <a href="{{ url_for('categories') }}">Afficher les catégories</a>
            <a href="{{ url_for('articles') }}">Afficher les articles</a>
            <a href="{{ url_for('users') }}">Afficher les users</a>
        </div>
        <div class="banner-title">
            <h1>Mini Press Core</h1>
        </div>
        <div class="banner-buttons">
            {% if session.user is defined %}
                <a href="{{ url_for('deconnexion') }}"><i class="fa fa-user"></i></a>
                {% if session.user.privilege == 1 %}
                    <a href="{{ url_for('register') }}" class="signup-link">Inscrire</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('connection') }}">Connectez-vous !</a>
            {% endif %}
        </div>
    </div>
    <link rel="stylesheet" href="./css/style.css">
</head>



